@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    color: #19323C;
    background: #F3F7F0;
    font-size: 1.35vw;
}

h1 {
    background: #A93F55;
    padding: 30px;
    margin-top: 0;
}

p > span {
    color: #A93F55;
    padding: 5px;
}

.page-data {
    text-align: center;
}

img {
    border: 5px solid #A93F55;
    box-shadow: 3px 3px 5px black;
    margin-top: 50px;
}

.text {
    margin-top: 100px;
}